<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta property="og:title" content=""> -->
    <!-- <meta property="og:description" content=""> -->
    <!-- <meta property="og:url" content=""> -->
    <!-- <meta property="og:image" content=""> -->
    <title>要素がランダムに現れる</title>
    <link rel="stylesheet" href="reset.css">
    <style>
      [v-cloak] {
        display: none;
      }

      #app {
        padding: 100px;
        height: 1600px;
        text-align: center;
      }

      /*========= レイアウトのためのCSS ===============*/

      .randomBox,.randomScroll{
        display:flex;
        flex-wrap: wrap;
        width: 90vw;
      }

      .box{
        width: 220px;
        padding: 20px;
        margin: 20px;
        background-color: #666;
        color: #fff;
        box-sizing:border-box;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <p>ページに遷移すると、ランダムに現れる</p>
  
      <!--読み込みしてふわっと-->
      <transition-group appear
        tag="ul"
        class="randomBox"
        @before-enter="beforeEnter"
        @enter="enter"
        @leave="leave"
        :css="false"
      >
        <li class="box" v-for="(moveData,index) in moveDatas" :key="moveData" :data-index="randoms1[index]">{{ moveData }}</li>
      </transition-group>


      <br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>スクロール後にランダムに現れる<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓<br>↓
        

      <!--スクロールしてふわっと-->
      <transition-group
        tag="ul"
        class="randomScroll"
        id="randomScroll"
        @before-enter="beforeEnter"
        @enter="enter"
        @leave="leave"
        :css="false"
      >
        <li class="box" v-for="(scrollData,index) in scrollDatas" :key="scrollData" :data-index="randoms2[index]" v-show="isScroll">{{ scrollData }}</li>
      </transition-group>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
    <script>
      const ComponentA = { /* ... */ }

      const app = new Vue({
        el: '#app',
        components: {
          'component-a': ComponentA,
        },
        data: {
            moveDatas: ['a','b','c','d','e'],
            scrollDatas: ['a','b','c','d','e','f','g'],
            randoms1: [],
            randoms2: [],
            isScroll: false
        },
        created(){
            this.randomCreat(this.moveDatas,this.randoms1)
            this.randomCreat(this.scrollDatas,this.randoms2)
        },
        mounted(){
          let that = this
          window.addEventListener('scroll', function(){that.handleScroll('randomScroll')})
        },
        destroyed() {
          window.removeEventListener('scroll', function(){that.handleScroll('randomScroll')})
        },
        methods: {
          handleScroll(n) {
            const t = document.getElementById(n)
            const d = t.offsetTop - window.pageYOffset + 100
            if (d < window.innerHeight ) {
              this.isScroll = true
            } else {
              this.isScroll = false
            }
          },

          randomCreat(n,m){
            /** 最小値と最大値 */
            let min = 0, max = n.length;
            
            /** 重複チェックしながら乱数作成 */
            for(i = min; i <= max; i++){
              while(true){
                var tmp = this.intRandom(min, max);
                if(!m.includes(tmp)){
                  m.push(tmp);
                  break;
                }
              }
            }
          },

          /** min以上max以下の整数値の乱数を返す */
          intRandom(min, max){         
            return Math.floor( Math.random() * (max - min + 1)) + min;
          },

          ///アニメ挙動//
          beforeEnter(el) {
            el.style.opacity = 0
            el.style.transform = 'translateY(100px)'
          },
          enter(el, done) {
            gsap.to(el, {
              opacity: 1,
              y: 0,
              delay: el.dataset.index * 0.15,
              onComplete: done
            })
          },
          leave(el, done) {
            gsap.to(el, {
              opacity: 0,
              y: 100,
              delay: el.dataset.index * 0.15,
              onComplete: done
            })
          }
        }
      })
    </script>
  </body>
</html>